@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  font-family: "Montserrat", sans-serif;
}

@layer components{
  .nav-bg{
    @apply text-white to-[#FC2A68] from-[#F93817] bg-gradient-to-tr
  }

 .section-bg{
  @apply bg-white/30 dark:bg-[#22303c]/30  dark:text-[#fff] w-[80%] min-h-[400px] mx-auto mt-10 relative backdrop-blur-[20px] rounded-md shadow-2xl p-[20px]
 }
}

@layer utilities{
  .no-scrollbar::-webkit-scrollbar{
    display:none;
  }
  .no-scrollbar{
    -ms-overflow-style:none;
    scrollbar-width:none;
  }
}